.label {

  margin-left: 290px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: 20px;
  text-overflow:initial;
  white-space: pre;
    text-align: start !important;
    overflow: hidden;
}

.div_respXML {
  margin-left: 100px;
}


#XML_Text { 
  height: 600px;
  width: 700px;
  border-style: dashed
 
}

#XML_Text::-webkit-scrollbar {
  display: none;
}

.div_userDet {
  justify-content: center;
  width: 50%;
}